{% extends 'base.html' %} 

{% block content %}
 
   <!-- <div class="article">
     <h2> رنا العتيبي </h2>
    <i class="bi bi-person-circle"></i> <p> من افضل المتاجر اللي تعاملت معها سرعه ب توصيل الطلبات و جوده المحاصيل زائعه </p>
     <a style="color : black" href="#"> قراءة المزيد </a>
    </div> -->
<div class="container-fluid p-3 m-0 border-0 bd-example m-0 border-0 ">

    <div class="card text-end m-3">
      <div class="card-header">
        <lu>
        <li class="list-inline-item"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></li>
        <li class="list-inline-item">  رنا العتيبي </li>
      </lu>
      </div>
      <div class="card-body">
        <h5 class="card-title">سرعه بالتوصيل </h5>
        <p class="card-text">من افضل المتاجر اللي تعاملت معها سرعه ب توصيل الطلبات و جوده المحاصيل زائعه </p>
        <a href="#" class="btn btn-secondary">قراءة المزيد</a>
      </div>
    </div>


      <div class="card text-end m-3">
      <div class="card-header">
        <lu>
          <li class="list-inline-item"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"><i class="bi bi-star-half"></i></i></li>
          <li class="list-inline-item">  مشعل الحربي </li>
        </lu>
      </div>
      <div class="card-body">
        <h5 class="card-title">جودة بالمحاصيل </h5>
        <p class="card-text">طلبت محصولين الاثيوبي و الاندونسي كلهم روعه </p>
        <a href="#" class="btn btn-secondary">قراءة المزيد</a>
      </div>
    </div>
      <div class="card text-end m-3">

      <div class="card-header">
        <lu>
          <li class="list-inline-item"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i></li>
          <li class="list-inline-item">  تهاني المطيري </li>
        </lu>
      </div>
      <div class="card-body">
        <h5 class="card-title">تنوع بالمحاصيل </h5>
        <p class="card-text"> تنوع المحاصيل حلو و سرعه في التوصيل وصلت لي خلال ثلاث ايام </p>
        <a href="#" class="btn btn-secondary">قراءة المزيد</a>
      </div>
    </div>
</div>

{% endblock %}