{% extends 'base.html' %} 

{% block content %}
 
   <div class="article">
     <h2> عنوان المقالة الاولى </h2>
    <i class="bi bi-person-circle"></i> <p>اشتريت من هذا المتجر ووجدت منتجاته في غاية الروعة واسعاره لا تنافس انصح بالشراء من هذا المتجر</p>
     <a href="#"> قؤاءة المزيد </a>
    </div>


    <div class="article">
     <h2> عنوان المقالة الثانية </h2>
    <i class="bi bi-person-circle"></i> <p>بعد شرائي من هذا المتجر وجدت خدمة العملاء متعاونين جداً وقامو بخدمتي في مدة وجيزة </p>
     <a href="#"> قؤاءة المزيد </a>
    </div>

{% endblock %}