{% extends 'base.html' %}

{% block content  %}
 
  <div class="card">
  <div class="card-body mx-4">
    <div class="container">
      <p class="my-5 mx-5" style="font-size: 30px;">شكراُ لشراءكم من متجرنا</p>
      <div class="row">
        <ul class="list-unstyled">
          <li class="text-black">{{full_name}}</li>
          <li class="text-muted mt-1"><span class="text-black">Invoice</span> #12345</li>
          <li class="text-black mt-1">April 17 2021</li>
        </ul>
        <hr>
        <table>
            <thead>
               <tr>
                   <th>رقم المنتج</th>
                <th>اسم المنتج</th>
                <th>سعر المنتج</th>
                <th>صورة المنتج</th>
               </tr>
            </thead>

            <tbody>
               
                   {%  for item in product %}
                      <tr>
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            {{item.name}}
                        </td>

                         <td>
                            {{item.price}}
                        </td>

                         <td>
                           <img src=" {{item.image}}" height="60" width="60">
                        </td>
                      </tr>
                   {% endfor %}
              
            </tbody>
        </table>
        
       
{% endblock %}