{% extends 'base.html'  %}

{% block content %}
 
<div class="container ">
   <div class="row mt-5 d-flex justify-content-center">
      <div class="col-md-6">
       
        <div class="card">
            <div class="card-header rounded" style="background-color: rgb(59, 59, 212);">
                <h3 class="text-center text-white ">تسجيل الدخول</h3>
            </div>
            <div class="card-body">
                <form method="post" action="">
                    {% csrf_token %}
                   <div class="mb-3 text-end">
                      <label class="form-label ">اسم المستخدم</label>
                      <input type="text" class="form-control" name="username">
                   </div>
                    <div class="mb-3 text-end">
                      <label class="form-label">كلمة السر </label>
                      <input type="password" class="form-control" name="password">
                   </div>
                   <div class="row">
                      <div class="col text-center">
                        <button type="submit" class="btn btn-primary">تسجيل الدخول</button>
                      </div>
                   </div>

                   <div class="row mt-3">
                     <div class="col d-flex justify-content-end">
                        <small class="text-muted">ليس لديك حساب ? <a href="{% url 'auth_register' %}">اضغط هنا</a></small>
                     </div>
                   </div>
                </form>
            </div>
        </div>
      </div>
   </div>
</div>

{% endblock %}